/* ================   Media queries  =================*/
@media screen and (max-width: 325px) {
    .title h1 {
        font-size: 45px;
    }

    #internal h2 {
        font-size: 40px;
    }

    .maindiv {
        width: 75%;
        height: 200px;
    }

    .gridTest {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .loginbox {
        width: 280px;
    }

    .single-blog img {
        height: 40%;
    }

    .single-blog {
        height: 600px;
    }

    .footer {
        column-count: 1;
    }

    .galerie {
        max-width: 300px;
        grid-template-columns: 1fr;
    }

    .galerie img {
        width: 290px;
        height: 180px;
    }

    header {
        padding: 0 20px;
    }

    .menu-toggle {
        display: block;
    }

    header nav {
        position: absolute;
        width: 100%;
        background: #333;
        top: 50px;
        left: -100%;
        transition: 0.5s;
    }

    header nav.active {
        left: 0;
    }

    header nav ul {
        display: block;
        text-align: center;
    }

    header nav ul li a {
        border-bottom: 1px solid rgba(0, 0, 0, .2);
    }
}

@media (min-width: 326px) and (max-width: 501px) {
    .title h1 {
        font-size: 60px;
    }

    .maindiv {
        height: 200px;
    }

    .footer {
        column-count: 1;
    }

    section h2 {
        font-size: 48px;
    }

    .gridTest {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .single-blog img {
        height: 45%;
    }

    .single-blog {
        height: 600px;
    }

    .avatar {
        left: calc(50% - 50px);
    }

    .galerie {
        max-width: 300px;
        grid-template-columns: 1fr;
    }

    .galerie img {
        width: 290px;
        height: 180px;
    }

    header {
        padding: 0 20px;
    }

    .menu-toggle {
        display: block;
    }

    header nav {
        position: absolute;
        width: 100%;
        background: #333;
        top: 50px;
        left: -100%;
        transition: 0.5s;
    }

    header nav.active {
        left: 0;
    }
    
    header nav ul {
        display: block;
        text-align: center;
    }

    header nav ul li a {
        border-bottom: 1px solid rgba(0, 0, 0, .2);
    }
}

@media (min-width: 502px) and (max-width: 767px) {
    .single-blog img {
        height: 65%;
    }

    .single-blog {
        height: 880px;
    }

    .footer {
        column-count: 1;
    }

    .maindiv {
        height: 400px;
    }

    .gridTest {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .avatar {
        top: 100px;
        left: calc(50% - 50px);
    }

    .galerie {
        max-width: 410px;
        grid-template-columns: 1fr;
    }

    .galerie img {
        width: 400px;
        height: 270px;
    }

    header {
        padding: 0 20px;
    }

    .menu-toggle {
        display: block;
    }

    header nav {
        position: absolute;
        width: 100%;
        background: #333;
        top: 50px;
        left: -100%;
        transition: 0.5s;
    }

    header nav.active {
        left: 0;
    }

    header nav ul {
        display: block;
        text-align: center;
    }

    header nav ul li a {
        border-bottom: 1px solid rgba(0, 0, 0, .2);
    }
}

@media (min-width: 768px) and (max-width: 1050px) {
    .single-blog img {
        height: 55%;
    }

    .single-blog {
        height: 720px;
    }

    .footer {
        column-count: 1;
    }

    .maindiv {
        height: 500px;
    }

    .gridTest {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .galerie {
        max-width: 670px;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .galerie img {
        width: 330px;
        height: 220px;
    }

    header {
        padding: 0 20px;
    }

    .menu-toggle {
        display: block;
    }

    header nav {
        position: absolute;
        width: 100%;
        background: #333;
        top: 50px;
        left: -100%;
        transition: 0.5s;
    }

    header nav.active {
        left: 0;
    }

    header nav ul {
        display: block;
        text-align: center;
    }

    header nav ul li a {
        border-bottom: 1px solid rgba(0, 0, 0, .2);
    }
}

@media (min-width: 1051px) and (max-width: 1350px) {
    .galerie {
        max-width: 800px;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .galerie img {
        width: 380px;
        height: 240px;
    }
}
